html, body {
    margin: 0;
    padding: 0;
}
canvas{
    display: block;
    border: solid black;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

h2.title {
    margin-left: 20px;
    text-align: left;
    color: #0066cc;
    font-family: verdana;
}